@import '~src/_variables.scss';

.container {
  border-radius: 5px;
  text-align: center;
}

.incrementButton {
  color: green;
}

.title {
  margin: 0;
  color: $textColor;
}

.counterContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

span {
  color: $textColor;
  font-size: 24px;
  min-width: 30px;
  display: inline-block;
}
