<div class="container">
  <h2 class="title">{{ title }}</h2>
  <div class="counterContainer">
    <button mat-icon-button color="warn" (click)="decrement()">
      <mat-icon class="large">remove_circle_outline</mat-icon>
    </button>
    <span>{{ value }}</span>
    <button mat-icon-button class="incrementButton" (click)="increment()">
      <mat-icon class="large">add_circle_outline</mat-icon>
    </button>
  </div>
</div>
