<div class="container">
  <h1 mat-dialog-title>Congratulations</h1>
  <div mat-dialog-content>
    <b>{{winner.name}}</b> won.
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>
</div>
