@import '~src/_variables.scss';

.container {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 2px;
  border: thick solid $textColor;
  border-radius: 1em;
  padding: 0.25em;
  background-color: $backgroundColorSecond;
}

.iconContainer {
  grid-row: 1 / 3;
  align-self: center;
  display: flex;
}
.iconContainer img {
  width: 70px;
  border-radius: 5px;
}

.headerContainer {
  display: flex;
  border-bottom: solid thin $textColor;
  color: $textColor;

  .playerName {
    align-self: center;
    flex-grow: 1;

    margin: 0;
    text-align: center;
    font-weight: 600;
    word-break: break-word;
  }

  .powerInfo {
    margin: 0;
    min-width: 66px;

    span {
      display: inline-block;
      text-align: center;
    }
  }

  .rightButtonsContainer {
    display: flex;
    align-items: center;
  }
}

.countersContainer {
  display: flex;
  justify-content: space-evenly;
}
