<div class="container">
  <div class="iconContainer">
    <img [src]="getIconPath(playerInfo.icon)">
  </div>
  <div class="headerContainer">
    <h1 class="playerName">{{ playerInfo.name }}</h1>
    <div class="rightButtonsContainer">
      <h1 *ngIf="!editModeActive" class="powerInfo">
        <mat-icon class="large" fontSet="fas" fontIcon="fa-fist-raised"></mat-icon>
        <span>{{ playerInfo.level + playerInfo.itemsPower }}</span>
      </h1>

      <ng-container *ngIf="editModeActive">
        <button mat-icon-button (click)="editClicked.emit()">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="removeClicked.emit()">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-container>
    </div>


  </div>
  <div class="countersContainer">
    <div class="counterContainer">
      <app-counter #levelCounter title="Level" [value]="playerInfo.level" [minValue]="1" [maxValue]="10"
        (valueChanged)="playerInfo.level = $event">
      </app-counter>
    </div>
    <div class="counterContainer">
      <app-counter #itemsCounter title="Items" [value]="playerInfo.itemsPower" [minValue]="0"
        (valueChanged)="playerInfo.itemsPower = $event">
      </app-counter>
    </div>
  </div>
</div>
