<div class="container">
  <div *ngFor="let playerInfo of players; index as i" class="listItem">
    <app-munchkin-counter-item [playerInfo]="playerInfo" [editModeActive]="editModeActive"
      (editClicked)="editPlayer.emit({index: i, player: playerInfo})" (removeClicked)="removePlayer.emit(i)"
      (edited)="editedPlayer.emit({index: i, player: $event})">
    </app-munchkin-counter-item>
  </div>
</div>
