<div mat-dialog-content class="container">
  <div *ngFor="let icon of allIcons" class="iconContainer" [ngClass]="{selected: icon==selectedIcon}"
    (click)="selectedIcon=icon">
    <img [src]="getIconPath(icon)">
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="selectedIcon" cdkFocusInitial>Ok</button>
</div>
