.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  overflow: auto;
  min-width: 50vw;

  .iconContainer {
    max-width: 200px;
    img {
      width: 100%;
      display: block;
    }
  }

  .selected img {
    outline: solid 5px green;
    outline-offset: -5px;
  }
}
