@import '~src/_variables.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Quasimodo, Roboto, 'Helvetica Neue', sans-serif;
  background-color: $backgroundColor;
  overscroll-behavior-y: none;
}

.mat-icon.large {
  height: 36px !important;
  width: 36px !important;
  font-size: 36px !important;
  line-height: 36px !important;
}

.dialog-background .mat-dialog-container {
  background-color: $backgroundColor;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Quasimodo sans-serif;',
);
@include mat-core($custom-typography);

// $custom-primary: mat-palette($mat-blue);
// $custom-accent: mat-palette($mat-amber);
// $custom-theme: mat-light-theme($custom-primary, $custom-accent);
// @include angular-material-theme($custom-theme);
