<mat-toolbar class="toolbar">
  <h1>Munchkin counter</h1>
  <div *ngIf="editModeActive">
    <button mat-icon-button (click)="openAddDialog()">
      <mat-icon class="editIcon">add</mat-icon>
    </button>
    <button mat-icon-button (click)="toogleEditMode()">
      <mat-icon class="editIcon">check</mat-icon>
    </button>
  </div>
  <div *ngIf="!editModeActive">
    <button mat-icon-button (click)="toogleEditMode()">
      <mat-icon class="editIcon">create</mat-icon>
    </button>
  </div>
</mat-toolbar>
<ng-container *ngIf="players$ | async as players">
  <app-munchkin-counter-list [players]="players" [editModeActive]="editModeActive"
    (editPlayer)="openEditDialog($event.index, $event.player)" (removePlayer)="remove($event)"
    (editedPlayer)="edit($event.index, $event.player)">
  </app-munchkin-counter-list>
</ng-container>
