@import '~src/_variables.scss';
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $backgroundColorSecond;

  h1 {
    font-weight: 600;
    color: $textColor;
  }
}
.editIcon {
  text-align: right;
  color: $textColor;
}
